<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="email" name="email" placeholder="please enter email" required #emailInput="ngModel"
        ngModel />
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="password" #passwordInput="ngModel" required
        ngModel />
      <mat-error *ngIf="passwordInput.invalid">Please enter password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Login</button>
  </form>
</mat-card>