input:invalid{
  animation: shake 300ms;
  color: red;
}

@keyframes shake {
  25%{
    transform: translate(4px);
  }
  50%{
    transform: translate(4px);
  }
  75%{
    transform: translate(4px);
  }
  /* 100%{
    transform: translate(4px);
  } */
}
