.po-details {
  border: 1px solid var(--bs-gray-500);
  padding: 0 0.5rem;
  height: 100%;
}

// .purchase-order-pdf {
//   padding-top: var(--heading-height);
//   .heading {
//     width: 100%;
//     padding: 0px 14px;
//     position: absolute;
//     top: var(--margin);
//     left: 0;
//     right: 0;
//     opacity: 0;
//   }
// }
