.amount-display {
  margin: 8px 17px 8px auto;
  font-weight: 700;
  .value {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-400);
    display: inline-block;
    margin-left: 8px;
    min-width: 150px;
  }
}
