<div class="btn-group" *ngIf="openAs !== 'EXTERNAL_VIEW'">
  <button type="button" class="btn btn-primary ms-3" (click)="openPdfDialog(pdf, 'PRINT')">Delivery Note</button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><button kendo-button type="button" class="dropdown-item" (click)="openPdfDialog(pdf, 'PRINT')">Print</button></li>
    <li><button kendo-button type="button" class="dropdown-item" (click)="openPdfDialog(pdf, 'VIEW')">View</button></li>
    <li><button kendo-button type="button" class="dropdown-item" (click)="openPdfDialog(pdf, 'DOWNLOAD')">Download</button></li>
  </ul>
</div>

<div style="position: fixed; opacity: 0; top: 0; z-index: -100; height: 0">
  <div id="purchase-order-pdf" class="page" #container>
    <kendo-pdf-export
      #pdf
      paperSize="A4"
      margin="0.35cm"
      [author]="dnDetail?.company?.name || '-'"
      [creator]="dnDetail?.company?.name || '-'"
      [fileName]="'Delivery Note ' + dnDetail?.invoiceDetail?.invoiceNo + '.pdf'"
      [repeatHeaders]="true"
      [autoPrint]="true"
      [scale]="0.73"
    >
      <div
        class="purchase-order-pdf"
        [style]="{
          '--heading-height': getHeight(heading),
          '--page-height': 297 + 'mm',
          '--margin': 0.35 + 'cm'
        }"
      >
        <div class="row mx-0 mb-2px" #heading>
          <div class="row">
            <div class="col-auto ps-0">
              <img [svg]="ds.svg.PedigriTechnologyLogoSVG" alt="Logo Img" height="32px" />
            </div>
            <div class="col-auto ps-0">
              <div class="company">
                <p class="company-title">{{ dnDetail?.company?.name }}</p>
                <p class="company-address">{{ dnDetail?.company?.address }}</p>
              </div>
            </div>
            <h6 class="po-title">DELIVERY NOTE / PACKING LIST</h6>
          </div>

          <div class="col-6 px-4px">
            <div class="supplier">
              <div class="supplier-details" #buyerDetail [ngStyle]="{'minHeight.px': invoiceDetails.offsetHeight}">
                <div class="supplier-name">
                  <p class="supplier-title px-2 fw-bold mb-0">Buyer / Bill To</p>
                  <p class="m-0 px-2 fw-bold" colspan="2">{{ dnDetail?.invoiceDetail?.customerName }}</p>
                  <span class="ms-2 d-inline-block text-pre-line">
                    {{ dnDetail?.invoiceDetail?.customerAddress }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 px-4px">
            <div class="po-details" #invoiceDetails [ngStyle]="{'minHeight.px': buyerDetail.offsetHeight}">
              <table class="table m-0">
                <colgroup>
                  <col width="45%" />
                  <col width="55%" />
                </colgroup>
                <tr>
                  <td class="text-start fw-bold">Delivery Note No</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.deliveryNoteNo || '-' }}
                  </td>
                </tr>
                <tr>
                  <td class="text-start fw-bold">Delivery Note Date</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:&nbsp;</span>
                    <data-format [data]="dnDetail?.invoiceDetail?.invoiceDate" type="DATE"></data-format>
                  </td>
                </tr>
                <tr>
                  <td class="text-start fw-bold">Invoice No</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.invoiceNo || '-' }}
                  </td>
                </tr>
                <tr>
                  <td class="text-start fw-bold">Demo Period</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.demoPeriod || '-' }}
                  </td>
                </tr>
                <tr>
                  <td class="text-start fw-bold">Order Ref.</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.rmaNo || '-' }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div>
            <label class="text-start fw-bold">Customer ID</label>
            <span>
              <span class="d-print-inline-block py-0">:</span>
              {{ dnDetail?.invoiceDetail?.customerId || '-' }}
            </span>
          </div>
          <div class="col-6 px-4px">
            <div class="po-details" #customerDetails [ngStyle]="{'minHeight.px': courierDetails.offsetHeight}">
              <div class="supplier-name">
                <p class="text-start fw-bold mb-0">Ship To</p>
                <span class="d-inline-block text-pre-line">
                  {{ dnDetail?.invoiceDetail?.footNotes || '-' }}
                </span>
              </div>
            </div>
          </div>
          <div class="col-6 px-4px">
            <div class="po-details" #courierDetails [ngStyle]="{'minHeight.px': customerDetails.offsetHeight}">
              <table class="table m-0">
                <colgroup>
                  <col width="45%" />
                  <col width="55%" />
                </colgroup>
                <tr>
                  <td class="text-start fw-bold">Courier</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.courier || '-' }}
                  </td>
                </tr>
                <tr>
                  <td class="text-start fw-bold">AWB No</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.awbNo || '-' }}
                  </td>
                </tr>
                <tr>
                  <td class="text-start fw-bold">Volume</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.volume || '-' }}&nbsp;CCM
                  </td>
                </tr>
                <tr>
                  <td class="text-start fw-bold">Net Weight</td>
                  <td class="text-start">
                    <span class="d-print-inline-block py-0">:</span>
                    {{ dnDetail?.invoiceDetail?.netWeight || '-' }}&nbsp;KGs
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="row mx-0">
          <div class="col-12 px-4px">
            <table class="table item-details" style="min-width: 775px">
              <colgroup>
                <col width="60px" />
                <col width="auto" />
                <col width="auto" />
                <col width="auto" />
                <col width="auto" />
                <col width="auto" />
              </colgroup>
              <thead>
                <tr>
                  <th class="td-b-t td-b-b td-b-r td-b-l align-top text-center">SL. No.</th>
                  <th class="td-b-t td-b-b td-b-r align-top">Item Code</th>
                  <th class="td-b-t td-b-b td-b-r align-top" colspan="2">Item Description</th>
                  <th class="td-b-t td-b-b td-b-r align-top text-center">COO</th>
                  <th class="td-b-t td-b-b td-b-r align-top text-center text-nowrap">Qty</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dnDetail?.itemData; let index = index">
                  <td class="td-b-r td-b-l text-center">{{ index + 1 }}</td>
                  <td class="td-b-r">{{ item?.itemCode }}</td>
                  <td class="td-b-r text-pre-line" colspan="2">{{ item?.itemDesc || '-' }}</td>
                  <td class="td-b-r text-center text-nowrap">{{ item?.coo }}</td>
                  <td class="td-b-r text-end text-nowrap">{{ item?.itemQty }}</td>
                </tr>

                <tr>
                  <td class="td-b-r td-b-l h-100">&nbsp;</td>
                  <td class="td-b-r">&nbsp;</td>
                  <td class="td-b-r" colspan="2">&nbsp;</td>
                  <td class="td-b-r text-end">&nbsp;</td>
                  <td class="td-b-r text-end">&nbsp;</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="td-b-t td-b-l fw-bold text-start" colspan="4">
                    TOTAL QUANTITY {{ dnDetail?.invoiceDetail?.amountInWords?.toLocaleUpperCase() }} ONLY
                  </td>
                  <td class="td-b-t fw-bold text-end">Total Qty</td>
                  <td class="td-b-t td-b-r fw-bold text-end">
                    <div class="mb-2px">
                      <data-format [data]="dnDetail?.invoiceDetail?.totalQty" type="NUMBER" [decimal]="0"></data-format>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="td-b-t td-b-r td-b-l" colspan="6">
                    <div class="row mx-0">
                      <div class="col-12 px-0">
                        <p class="mb-0"><span class="fw-bold"> Remarks:</span> {{ dnDetail?.invoiceDetail?.remarks }}</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="td-b-t td-b-r td-b-l" colspan="6">
                    <div class="row mx-0">
                      <div
                        class="col-12 px-0"
                        *ngIf="dnDetail?.invoiceDetail?.vendorCode === '08' && dnDetail?.invoiceDetail?.divisionCode === '48'"
                      >
                        <p class="mb-1"><span class="fw-bold"> Terms & Conditions:</span></p>
                        <p class="mb-1">{{ paymentRemarks }}</p>
                        <p class="mb-1">2. Return Instructions:</p>
                        <p class="text-pre-line mb-1 px-3">{{ returnInstructions1 }}</p>
                      </div>
                    </div>
                    <div
                      class="col-12 px-0"
                      *ngIf="dnDetail?.invoiceDetail?.vendorCode === '08' && dnDetail?.invoiceDetail?.divisionCode !== '48'"
                    >
                      <p class="mb-1"><span class="fw-bold"> Terms & Conditions:</span></p>
                      <p class="mb-1">{{ paymentRemarks }}</p>
                      <p class="mb-1">2. Return Instructions:</p>
                      <p class="text-pre-line mb-1 px-3">{{ returnInstructions2 }}</p>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="td-b-b td-b-r td-b-l word-break p-0" colspan="6">
                    <div class="row mx-0">
                      <div class="col-4 px-2">
                        <div class="row mx-0">
                          <div class="col-12 px-0">
                            <p class="mb-2">Received the above items:</p>
                          </div>
                          <div class="col-5 px-0">
                            <p class="mb-2">Received By :</p>
                          </div>
                          <div class="col-7 px-0">
                            <p class="m-0">&nbsp;</p>
                            <p class="signature-line m-0"></p>
                          </div>
                          <div class="col-5 px-0">
                            <p class="mb-2">Name :</p>
                          </div>
                          <div class="col-7 px-0">
                            <p class="m-0">&nbsp;</p>
                            <p class="signature-line m-0"></p>
                          </div>
                          <div class="col-5 px-0">
                            <p class="mb-2">Date :</p>
                            <p class="my-0">&nbsp;</p>
                          </div>
                          <div class="col-7 px-0">
                            <p class="m-0">&nbsp;</p>
                            <p class="signature-line m-0"></p>
                          </div>
                        </div>
                      </div>
                      <div class="col-3 px-2 text-center ms-10 mt-auto">
                        <div class="ms-auto">
                          <p class="m-0">&nbsp;</p>
                          <p class="signature-line m-0"></p>
                          <p class="me-auto my-0 fw-bold mb-2">Delivered By</p>
                        </div>
                      </div>
                      <div class="col-5 px-2 text-end ms-auto mt-auto">
                        <div class="ms-auto">
                          <p class="m-0">&nbsp;</p>
                          <p class="signature-line mb-2"></p>
                          <p class="me-auto my-0 fw-bold">For {{ dnDetail?.company?.name }}</p>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <ng-template kendoPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
            <div class="purchase-order-pdf-footer">
              <div class="row">
                <p class="col-auto">Date:&nbsp;<data-format [data]="ds.currentDateTime()" type="DATE_TIME"></data-format></p>
                <p class="col-auto ps-0">Printed By:&nbsp;{{ dnDetail?.invoiceDetail?.userName }}</p>
                <p class="col-auto ms-auto ps-0">Page {{ pageNum }} of {{ totalPages }}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </kendo-pdf-export>
  </div>
</div>
