mat-card{
  width: 80%;
  margin: auto;
}

mat-form-field,
textarea{
  width: 100%;
}


.steps{
background: repeating-linear-gradient(90deg, #606DBC, #606DBC 40px, #465298 40px, #465298 80px);
letter-spacing: 73px;
}
