<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        minlength="3"
        placeholder="please add data"
        formControlName="title"
      />
      <!-- <input matInput type="text" [(ngModel)]="enteredTitle" /> -->
      <!-- [ngModel]="post?.title"
        #title="ngModel" -->
      <!-- #postInput  -->
      <mat-error *ngIf="form.get('title').invalid"
        >Please enter post title.</mat-error
      >
    </mat-form-field>
    <div>
      <button
        mat-stroked-button
        type="button"
        (click)="filePicker.click()"
      >Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <input [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <!-- <mat-form-field>
      <input type="text" name="otp" ngModel minlength="3" class="form-control steps" required #title="ngModel"/>-->
    <!-- <input matInput type="text" [(ngModel)]="enteredTitle" /> -->
    <!-- #postInput  -->
    <!-- <mat-error *ngIf="title.invalid">Please enter Post Title.</mat-error> -->
    <!-- </mat-form-field> -->
    <mat-form-field>
      <textarea
        matInput
        type="text"
        rows="6"
        id="content"
        name="content"
        formControlName="content"
        placeholder="please add data"
      ></textarea>
      <!-- <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea> -->
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter post content.</mat-error
      >
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
