<mat-card>
  <form (submit)="addPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel minlength="3" required #title="ngModel"/>
      <!-- <input matInput type="text" [(ngModel)]="enteredTitle" /> -->
      <!-- #postInput  -->
      <mat-error *ngIf="title.invalid">Please enter Post Title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" ngModel #content="ngModel" required></textarea>
      <!-- <textarea matInput rows="6" [(ngModel)]="enteredContent"></textarea> -->
      <mat-error *ngIf="content.invalid">Please enter Post Content.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>

