<div class="sidenav-body-container">
  <div class="sidenav-body">
    <h1>SideNav</h1>

    <!-- <app-sidenav-link routerLink="/home">
      <mat-icon>

      </mat-icon>
    </app-sidenav-link>

    <app-sidenav-link routerLink="/home">
      <mat-icon>

      </mat-icon>
    </app-sidenav-link>

    <app-sidenav-link routerLink="/home">
      <mat-icon>

      </mat-icon>
    </app-sidenav-link>

    <app-sidenav-link routerLink="/home">
      <mat-icon>

      </mat-icon>
    </app-sidenav-link> -->
  </div>
</div>


<button class="toggle-button" (click)="this.sideNavService.toggleSideNav()"></button>
