<div>
  <div>
    <h3>Agent Profit Plan</h3>
    <div>
      <button class="add-new" (click)="openClassModel()"><img class="me-3" src=""/>Add New Plan</button>
    </div>
  </div>
  <div class="agent-profilt-plan-classes d-flex flex-wrap align-items-star">
    <div class="d-flex flex-wrap align-items-star agent-profilt-plan-classes-left">
     <img [src]="" onerror="this.onerror=null;this.src='';"/>
      <div>
        <h3>Course Name</h3>
        <p> TITLE</p>
      </div>
    </div>
    <div class="d-flex flex-wrap align-items-center agent-profilt-plan-classes-right mt-3 pe-3 justify-content-end">
      <a href="javascript:void(0)"
      class="edit d-flex flex-wrap align-items-center">
      <svg _ngContent-ng-cli-universal-c138="" xmlns="" viewBox="0 0 100 100">

      </svg>
      Edit
    </a>
    <a href="javascript:void(0)"
    class="download d-flex flex-wrap align-items-center">
    <svg _ngContent-ng-cli-universal-c138="" xmlns="" viewBox="0 0 100 100">

    </svg>
    download
  </a>
  <a href="javascript:void(0)"
    class="delete d-flex flex-wrap align-items-center">
    <svg _ngContent-ng-cli-universal-c138="" xmlns="" viewBox="0 0 100 100">

    </svg>
    delete 
  </a>
    </div>
  </div>
</div>
