<ng-container (appUserData)="userData = $event"></ng-container>
<div class="sub-header" id="sub-header" (onResize)="ds.setSubHeaderHeight()">
  <div class="container-fluid px-4">
    <div class="row align-items-center">
      <div class="col-auto">
        <kendo-breadcrumb collapseMode="wrap" [items]="breadcrumbItems" (itemClick)="ds.onBreadcrumbItemClick($event)"></kendo-breadcrumb>
      </div>
    </div>
  </div>
  <div class="container-fluid px-4">
    <form class="row mx-0 pt-3" #f="ngForm" appScrollToInvalid>
      <fieldset class="col-12 col-md fieldset mt-3 row mx-0 pb-0">
        <legend>Query Selection</legend>
        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="divisionCodeRef" class="form-label" text="Division"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="divisionCode"
              name="divisionCode"
              [allowCustom]="false"
              [appCombobox]="{
                compRef: divisionCodeRef,
                compModel: divisionCode,
                type: 'USER_DIVISION',
                provideData: comboData['USER_DIVISION']
              }"
              (comboData)="comboData['USER_DIVISION'] = $event; setDefaultDivision($event)"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [disabled]="!userData?.allowDivisionChange"
              [(ngModel)]="formData.divisionCode"
              (ngModelChange)="onDivisionCodeChange(divisionCodeRef)"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #divisionCode="ngModel"
              #divisionCodeRef
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="stockLocationCodeRef" class="form-label" text="Stock Location"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="stockLocationCode"
              name="stockLocationCode"
              [appCombobox]="{
                compRef: stockLocationCodeRef,
                type: 'LOCATION'
              }"
              (comboData)="comboData['LOCATION'] = $event; setDefaultLocation($event)"
              [filterable]="true"
              [filterData]="{value: divisionCode?.value}"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [allowCustom]="false"
              [(ngModel)]="formData.locationCode"
              [disabled]="!userData?.allowLocationChange"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #stockLocationCode="ngModel"
              #stockLocationCodeRef
              [maxlength]="10"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="vendorRef" class="form-label" text="Vendor"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="vendor"
              name="vendor"
              [allowCustom]="false"
              [appCombobox]="{compRef: vendorRef, type: 'ALTER_VENDOR', inActive: true}"
              (comboData)="comboData['ALTER_VENDOR'] = $event"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [virtual]="true"
              [(ngModel)]="formData.vendor"
              (ngModelChange)="onVendorChange($event, divisionCodeRef, vendorRef)"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #vendor="ngModel"
              #vendorRef
              [disabled]="!userData?.allowDivisionChange"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="brandCodeRef" class="form-label" text="Brand"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="brandCode"
              name="brandCode"
              [appCombobox]="{
                compModel: brandCode,
                compRef: brandCodeRef,
                type: 'BRAND',
                inActive: true
              }"
              (comboData)="setDefaultBrand($event)"
              [filterData]="vendor.value"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [virtual]="true"
              [allowCustom]="false"
              [(ngModel)]="formData.brandCode"
              (ngModelChange)="!!formData.brandCode ? (formData.vendor = brandCodeRef?.dataItem?.code?.vendorCode) : null"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #brandCode="ngModel"
              #brandCodeRef
              [disabled]="!vendorRef?.dataItem?.value"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="fslRef" class="form-label" text="FSL"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="fsl"
              name="fsl"
              [allowCustom]="false"
              [appCombobox]="{compRef: fslRef, type: 'FSL'}"
              (comboData)="setDefaultFSL()"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [(ngModel)]="formData.fsl"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #fsl="ngModel"
              #fslRef
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="RfidSelectionRef" class="form-label" text="Query Type"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="RfidSelection"
              name="RfidSelection"
              [allowCustom]="false"
              [appCombobox]="{compRef: RfidSelectionRef, type: 'QUERY_SELECTION', inActive: true}"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [(ngModel)]="formData.RfidSelection"
              (ngModelChange)="clearSelectedOptions()"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #RfidSelection="ngModel"
              #RfidSelectionRef
              [maxlength]="50"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <!-- Item -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 1">
          <kendo-formfield>
            <kendo-label [for]="itemCodeRef" class="form-label" text="Item Code"></kendo-label>
            <kendo-combobox
              id="itemCode"
              name="itemCode"
              [allowCustom]="false"
              class="w-100"
              [appCombobox]="{
                compModel: itemCode,
                compRef: itemCodeRef,
                type: 'ITEM_LIST',
                inActive: true,
                provideData: comboData['ITEM_LIST']
              }"
              [callApiOnDataChange]="{vendorCode: vendor?.value, brandCode: brandCode?.value}"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [virtual]="true"
              [(ngModel)]="formData.itemCode"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #itemCode="ngModel"
              #itemCodeRef
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <!-- RFID-->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 2">
          <kendo-formfield>
            <kendo-label [for]="rfidRef" class="form-label" text="RFID"></kendo-label>
            <kendo-textbox
              class="w-100"
              id="rfid"
              name="rfid"
              [(ngModel)]="formData.rfid"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #rfid="ngModel"
              #rfidRef
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>

        <!-- Bin Location -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 3">
          <kendo-formfield>
            <kendo-label [for]="binLocationRef" class="form-label" text="Bin Location"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="binLocation"
              name="binLocation"
              [(ngModel)]="formData.binLocation"
              (ngModelChange)="onBinLocationChange($event)"
              [allowCustom]="false"
              [appCombobox]="{
                compModel: binLocation,
                compRef: binLocationRef,
                type: 'GRN_BIN_LIST',
                provideData: comboData['GRN_BIN_LIST'],
                inActive: true
              }"
              (comboData)="comboData['GRN_BIN_LIST'] = $event"
              [callApiOnDataChange]="{fsl: fsl?.value, vendorCode: vendor?.value}"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #binLocation="ngModel"
              #binLocationRef
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <!-- vendor serial no -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 4">
          <kendo-formfield>
            <kendo-label [for]="vendorSerialNoRef" class="form-label" text="Vendor Serial No."></kendo-label>
            <kendo-textbox
              class="w-100"
              id="vendorSerialNo"
              name="vendorSerialNo"
              [(ngModel)]="formData.vendorSerialNo"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #vendorSerialNo="ngModel"
              #vendorSerialNoRef
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>

        <!-- FLPN -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 5">
          <kendo-formfield>
            <kendo-label [for]="flpnRef" class="form-label" text="FLPN"></kendo-label>
            <kendo-textbox
              class="w-100"
              id="flpn"
              name="flpn"
              [(ngModel)]="formData.flpn"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #flpn="ngModel"
              #flpnRef
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>

        <!-- shipmentBatchNo  -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 6">
          <kendo-formfield>
            <kendo-label [for]="shipmentBatchNoRef" class="form-label" text="Shipment Batch No"></kendo-label>
            <kendo-textbox
              class="w-100"
              id="shipmentBatchNo"
              name="shipmentBatchNo"
              [(ngModel)]="formData.shipmentBatchNo"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #shipmentBatchNo="ngModel"
              #shipmentBatchNoRef
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>

        <!-- originalPONo -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 7">
          <kendo-formfield>
            <kendo-label [for]="originalPONoRef" class="form-label" text="Original PO No"></kendo-label>
            <kendo-textbox
              class="w-100"
              id="originalPONo"
              name="originalPONo"
              [(ngModel)]="formData.originalPONo"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #originalPONo="ngModel"
              #originalPONoRef
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>

        <!-- sapNo -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 8">
          <kendo-formfield>
            <kendo-label [for]="sapNoRef" class="form-label" text="SAP No"></kendo-label>
            <kendo-textbox
              class="w-100"
              id="sapNo"
              name="sapNo"
              [(ngModel)]="formData.sapNo"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #sapNo="ngModel"
              #sapNoRef
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3" *ngIf="RfidSelectionRef?.dataItem?.value == 9">
          <kendo-formfield>
            <kendo-label [for]="vendorPartCodeRef" class="form-label" text="Vendor Part Code"></kendo-label>
            <kendo-textbox
              class="w-100"
              id="vendorPartCode"
              name="vendorPartCode"
              [(ngModel)]="formData.vendorPartCode"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #vendorPartCode="ngModel"
              #vendorPartCodeRef
            >
            </kendo-textbox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="categoryCodeRef" class="form-label" text="Category"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="categoryCode"
              name="categoryCode"
              [allowCustom]="false"
              [appCombobox]="{
                compModel: categoryCode,
                compRef: categoryCodeRef,
                type: 'CATEGORY'
              }"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [(ngModel)]="formData.categoryCode"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #categoryCode="ngModel"
              #categoryCodeRef
              [maxlength]="8"
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="wareHouseRef" class="form-label" text="Warehouse"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="wareHouse"
              name="wareHouse"
              [allowCustom]="false"
              [appCombobox]="{compRef: wareHouseRef, type: 'WAREHOUSE'}"
              [callApiOnDataChange]="{fsl: fsl?.value}"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [(ngModel)]="formData.wareHouse"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #wareHouse="ngModel"
              #wareHouseRef
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>
        <!-- AISLE -->
        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="aisleRef" class="form-label" text="Aisle"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="aisle"
              name="aisle"
              [allowCustom]="false"
              [appCombobox]="{compRef: aisleRef, type: 'AISLE'}"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [(ngModel)]="formData.aisle"
              ngModel
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #aisle="ngModel"
              #aisleRef
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <div class="col-12 col-sm-4 col-lg-3 mb-3">
          <kendo-formfield>
            <kendo-label [for]="rackRef" class="form-label" text="Rack"></kendo-label>
            <kendo-combobox
              class="w-100"
              id="rack"
              name="rack"
              [allowCustom]="false"
              [appCombobox]="{compRef: rackRef, type: 'RACK'}"
              [filterable]="true"
              [textField]="'text'"
              [valueField]="'value'"
              [valuePrimitive]="true"
              [(ngModel)]="formData.rack"
              showErrorIcon="initial"
              showSuccessIcon="initial"
              #rack="ngModel"
              #rackRef
            >
            </kendo-combobox>
          </kendo-formfield>
        </div>

        <!-- <div class="col-12 col-sm-4 col-lg-3">
            <kendo-label></kendo-label>
            <app-search-field [(search)]="searchTable" (searchChange)="onFilter(f)"></app-search-field>
          </div> -->
      </fieldset>
      <!-- </div> -->
    </form>
  </div>
</div>

<div class="container-fluid px-4">
  <div class="row">
    <div class="col-12 my-4">
      <kendo-grid
        [data]="gridData"
        [pageSize]="paging.pagesize"
        [skip]="paging.skip"
        [pageable]="paging.pageable"
        (pageChange)="onPageChange($event, f)"
        [loading]="flags.isTableLoading"
        [resizable]="true"
        #grid="kendoGrid"
        [columnMenu]="{columnChooser: true, stick: true, sort: false, filter: false}"
        [sortable]="true"
        class="auto-height"
      >
        <ng-template kendoGridLoadingTemplate>
          <app-loading-grid></app-loading-grid>
        </ng-template>
        <ng-template kendoGridNoRecordsTemplate>
          <app-no-data-grid *ngIf="!flags.isTableLoading"></app-no-data-grid>
        </ng-template>
        <ng-template kendoGridToolbarTemplate>
          <kendo-formfield class="col-auto px-0 d-flex align-items-center m-2">
            <kendo-label [for]="selectAllRef" class="form-label my-0 me-2" text="Select All"></kendo-label>
            <kendo-switch
              id="selectAll"
              class="kendo-switch-success"
              name="selectAll"
              #selectAllRef
              #selectAll="ngModel"
              [(ngModel)]="flags.selectAllLabel"
              onLabel="Yes"
              offLabel="No"
              style="width: 75px"
              (ngModelChange)="selectLabelToPrint(selectAll.value, 'SELECT_ALL')"
            ></kendo-switch>
          </kendo-formfield>
          <div class="col-12 col-sm-auto ms-auto">
            <p class="m-0 d-lg-none">&nbsp;</p>
            <button [attr.accesskey]="accessKey.SEARCH" type="submit" class="btn btn-with-icon my-2 btn-info me-2" (click)="onQuery(f)">
              <app-svg-icon icon="SEARCH" class="d-inline-block"></app-svg-icon>&nbsp;Query
            </button>
            <button
              class="btn btn-with-icon my-2 btn-primary me-2"
              (click)="onQuery(f)"
              type="button"
              [attr.accesskey]="ds.accessKey.REFRESH"
            >
              <app-svg-icon icon="REFRESH"></app-svg-icon>&nbsp;Refresh
            </button>
            <button
              *roleGuard="{role: 'PRINT', screenId: currentScreen.id}"
              class="btn btn-with-icon my-2 btn-success me-2"
              (click)="fetchDataForExcel(grid, f)"
              type="button"
              [attr.accesskey]="ds.accessKey.PRINT_EXCEL"
            >
              <app-svg-icon icon="EXCEL"></app-svg-icon>&nbsp;Excel
            </button>
            <button
              *roleGuard="{role: 'PRINT', screenId: currentScreen.id}"
              class="btn btn-with-icon my-2 btn-warning me-2"
              (click)="onExportToCsv()"
              type="button"
              [attr.accesskey]="ds.accessKey.PRINT_CSV"
            >
              <app-svg-icon icon="CSV"></app-svg-icon>&nbsp;CSV
            </button>
            <button
              *roleGuard="{role: 'PRINT', screenId: currentScreen.id}"
              class="btn btn-with-icon my-2 btn-danger me-2"
              kendoGridPDFCommand
              [attr.accesskey]="ds.accessKey.PRINT_PDF"
            >
              <app-svg-icon icon="PDF"></app-svg-icon>&nbsp;PDF
            </button>
            <button
              *roleGuard="{role: 'PRINT', screenId: currentScreen.id}"
              class="btn btn-with-icon my-2 btn-primary me-2"
              (click)="callPrintLabel(true)"
            >
              <app-svg-icon icon="PDF"></app-svg-icon>&nbsp;Small Label
            </button>
            <button
              *roleGuard="{role: 'PRINT', screenId: currentScreen.id}"
              class="btn btn-with-icon my-2 btn-primary me-2"
              (click)="callPrintLabel(false)"
            >
              <app-svg-icon icon="PDF"></app-svg-icon>&nbsp;Print Label
            </button>
          </div>
          <!-- </div> -->
        </ng-template>
        <kendo-grid-column field="print" title="Print" [width]="120" [minResizableWidth]="80" [filterable]="false">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <kendo-switch
              id="print"
              class="kendo-switch-success"
              name="print"
              [(ngModel)]="dataItem.print"
              onLabel="Yes"
              offLabel="No"
              style="width: 70px"
            ></kendo-switch>
          </ng-template>
        </kendo-grid-column>

        <ng-container *ngFor="let header of gridHeaderList">
          <kendo-grid-column
            [field]="header.field"
            [title]="header.title"
            [autoSize]="false"
            [width]="header?.width || 100"
            [minResizableWidth]="header?.minResizableWidth || header?.width || 0"
            [class]="{'text-end': header?.align === 'RIGHT', 'text-center': header?.align === 'CENTER'}"
          >
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <data-format [data]="dataItem[header.field]" [type]="header?.type" [config]="header?.typeConfig"></data-format>
            </ng-template>
          </kendo-grid-column>
        </ng-container>

        <kendo-grid-pdf fileName="{{ currentScreen.id }}_LIST.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [scale]="0.5">
          <kendo-grid-pdf-margin top="1.5cm" left="0.5cm" right="0.5cm" bottom="1.25cm" style="font-size: 12px"></kendo-grid-pdf-margin>
          <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
            <app-grid-pdf [pageNum]="pageNum" [totalPages]="totalPages"> </app-grid-pdf>
          </ng-template>

          <ng-container *ngFor="let header of gridHeaderList">
            <kendo-grid-column
              [field]="header.field"
              [title]="header.title"
              [width]="header?.width || 100"
              [minResizableWidth]="header?.minResizableWidth || header?.width || 0"
              [class]="{'text-end': header?.align === 'RIGHT', 'text-center': header?.align === 'CENTER'}"
            >
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <data-format [data]="dataItem[header.field]" [type]="header?.type" [config]="header?.typeConfig"></data-format>
              </ng-template>
            </kendo-grid-column>
          </ng-container>
        </kendo-grid-pdf>

        <kendo-grid-excel fileName="{{ currentScreen.id }}_LIST.xlsx">
          <ng-container *ngFor="let header of gridHeaderList">
            <kendo-excelexport-column [field]="header.field" [title]="header.title" [width]="header.width || 100">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <data-format [data]="dataItem[header.field]" [type]="header?.type" [config]="header?.typeConfig"></data-format>
              </ng-template>
            </kendo-excelexport-column>
          </ng-container>
        </kendo-grid-excel>
      </kendo-grid>
    </div>
  </div>
</div>

<div kendoDialogContainer></div>
