 <div class="agent-wrapper">
        <div class="agent-wrapper-inner">
            <div class="agent-header">
                <div class="agent-wrapper-inner-left">
                    <div class="agent-logo-left">
                        <img src="./image/Mortagage_Agent_Logo.svg" alt="">
                    </div>

                </div>
                <div class="agent-wrapper-inner-right">
                    <h2>GRATITUDE</h2>
                    <h4>MONTHLY REVIEW</h4>
                    <div class="agent-date">
                        /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/
                    </div>
                </div>
            </div>
            <div class="agent-highlights">
                <h3>HIGHLIGHTS OF THE MONTH</h3>
                <ol class="">
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            </div>
            <div class="agent-question-container">
                <h3>WHAT IS SOMETHING NEW YOU'VE LEARNED?</h3>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="agent-question-container">
                <h3>WHAT WERE SOME OF THE CHALLENGES YOU FACED?</h3>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="agent-question-container">
                <h3>WHAT IS THE BEST THING YOU HAVE DONE FOR YOURSELF THIS PAST MONTH?</h3>
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="agent-question-container">
                <h3>WHAT IS THE BEST THING YOU HAVE DONE FOR YOURSELF THIS PAST MONTH?</h3>
                <div class="confirm-button-content">
                    <button class="confirm-button">YES</button>
                    <button class="confirm-button">MAYBE</button>
                    <button class="confirm-button">NO</button>
                </div>
            </div>
        </div>

    </div>
